body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.flex_content{
    display: flex;
} 
.box{
    padding: 2% 3%;
    margin: 5%;
    width: 50%;
   
}

.top_content h1{
    font-size: 50px;
    border-left: 5px solid tomato;   
}
.text_color{
    color: rgb(230, 162, 60);
}
a{
    text-decoration: none;
    padding:10px 30px;
    color:white;
    background-color:rgb(236, 74, 45);
}
.box img{
   width: 90%;

}
