body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    margin: 7%;
}

.flex_content{
    display: flex;
    margin-bottom: 100px;
} 
.box{
    padding-top: 2%;
    width: 50%;
   
}

.top_content h1{
    font-size: 50px;
    border-left: 5px solid tomato;   
}
h2{
    font-size: 35px;
    font-weight: bolder;
}
.text_color{
    color: rgb(230, 162, 60);
}
a{
    text-decoration: none;
    padding:10px 30px;
    color:white;
    background-color:rgb(236, 74, 45);
}
img{
   width: 80%;

}
.my_mission h2{
    text-align: center;
}
.mission_box{
    width: 33.33%;
    padding: 2% 3%;
    background-color: blanchedalmond;
    
    border-radius: 5%;
    margin-right: 2%;
    
}
.mission_box img{
    width: 130px;
}
.mission{
    background-color: rgb(205, 214, 233);
}
.vission{
    background-color: rgb(224, 223, 198);
}
.goals{
    background-color: rgb(233, 217, 226);
}
